/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'),
		url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff2')
			format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-900.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.item {
	width: 200px;
	height: 100px;
	background-color: green;
	padding: 20px;
}
